/* This code was troubleshooted with ChatGPT and GreatStack's Quiz building walkthrough: https://www.youtube.com/watch?v=PBcqGxrr9g8 */
/* image referenced:https://pixabay.com/photos/las-vegas-nevada-cities-urban-1620961/ */
body {
    background: #3e2e59;
    font-family: Arial, sans-serif;
    position: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.quiz-container{
 text-align: center;
 margin: 0 auto;
 padding: 50px;
 background-color: #ffffff;
 max-width: 500px;
 border-radius: 10px;

 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%)

}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choice {
    font-family: Arial, sans-serif;
    padding: 20px 20px;
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
    /* Add or modify button styles as needed */
}

/* 
